@font-face {
  font-family: Roboto-Regular;
  src: url("../assets/roboto-font/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("../assets/roboto-font/Roboto-Bold.ttf");
}

.cartProdContainer,
.cartProd,
.productList,
.cartProd div:nth-child(2) {
  display: flex;
  font-family: Roboto-Regular;
}
.productList {
  flex-direction: column;
  margin: 50px 100px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 10px;
}

.productList .headers {
  background-color: rgb(224, 224, 224);
  padding: 10px 20px;
  margin-bottom: 20px;
}

.cartProdContainer,
.cartProd,
.cartProd div:nth-child(2) {
  align-items: center;
}

.cartProdContainer {
  padding: 30px 30px;
  border-bottom: 1px solid rgb(204, 204, 204);
}

.cartProd {
  justify-content: space-between;
  width: 35%;
  margin-right: 380px;
}

.cartProd div:first-child {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100px;
}

.cartProd img {
  height: 100%;
  max-width: 100px;
  object-fit: contain;
}

.cartProd div:nth-child(2) {
  width: 400px;
  justify-content: space-between;
}

.cartProd div:nth-child(2) h3 {
  margin: 0 40px 0;
  width: 40%;
}

.quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  margin-right: 350px;
}

.quantity button {
  height: 25px;
  width: 25px;
  background-color: white;
  border: 1px solid black;
  font-size: 1em;
  text-align: center;
  transition: background-color 0.3s;
}

.quantity button:hover {
  color: white;
  background-color: black;
}

.quantity + div {
  font-family: Roboto-Bold;
  width: 100px;
  display: flex;
  justify-content: flex-start;
}

.headers div {
  position: relative;
  display: inline;
  font-family: Roboto-Bold;
}

.headers div:first-child {
  left: 20px;
  margin-right: 510px;
}

.headers div:nth-child(2) {
  margin-right: 400px;
}

.headers div:nth-child(3) {
  margin-right: 390px;
}

.totalPrice {
  font-family: Roboto-Bold;
  display: flex;
  justify-content: flex-end;
}

.totalPrice span {
  margin-right: 175px;
  font-size: 1.3em;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.checkout {
  background-color: #1f513f;
  color: white;
  font-family: Roboto-Bold;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  height: 45px;
  width: 10%;
}

.trash {
  background-color: white;
  border: none;
  cursor: pointer;
}
