@font-face {
  font-family: Roboto-Bold;
  src: url("../assets/roboto-font/Roboto-Bold.ttf");
}

@font-face {
  font-family: Roboto-Regular;
  src: url("../assets/roboto-font/Roboto-Regular.ttf");
}

.container {
  background-color: rgb(224, 224, 224);
  color: rgb(78, 78, 78);

  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 50px;
}

.container div:first-child {
  font-family: Roboto-Bold;
  font-size: 3em;
  color: black;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;

  font-family: Roboto-Regular;
  font-size: 1.5em;
}

ul {
  list-style-type: none;
}

li a,
li a:visited {
  padding: 10px;
}

li span {
  font-size: 0.6em;
  padding: 2px;
  position: relative;
  bottom: 25px;
  color: white;
  background-color: #1f513f;
}
