.container {
  height: 150px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 50px;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
